<div class="card" style="width: 18rem;">
    <img src="https://lh3.googleusercontent.com/b21cw822kt5ZURFAJpleihQgisZ8pPVHWQa_ySwpj5Y2wLNzGYJ1-GvKbEdv-sMv-sd53bDuXLrRQJQ6vFxSabugKlK-5ci3B2AlR71J2OEKj6L12dc" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>